# Fichiers Gradle
.gradle/
build/

# Outillage de release (npm)
node_modules/

# Fichier de configuration locale (chemin du SDK, etc.)
local.properties

# Fichiers de logs/OS
*.log

# Fichiers et dossiers générés par Android Studio
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json

# IntelliJ
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Fichiers de signature (keystore)
*.jks
*.keystore

# Services Google (APIs, Firebase, etc.)
google-services.json

# Profilage Android
*.hprof
